<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="
        https://darshan.ac.in/U01/Slider/Slide_3.jpg?V=2.1.5"
        class="d-block img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://darshan.ac.in/U01/Slider/Slide_5.jpg?V=2.1.5"
        class="d-block img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://darshan.ac.in/U01/Slider/Slide_6.jpg?V=2.1.5"
        class="d-block img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://darshan.ac.in/U01/Slider/Slide_10.jpg?V=2.1.5"
        class="d-block img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://darshan.ac.in/U01/Slider/Slide_8.jpg?V=2.1.5"
        class="d-block img-fluid"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
