/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}
html,
body {
  width: 100%;
  height: 100%;
}
/* styles.css or your global styles file */

#first-page {
  position: relative;
}

app-hero,
app-navbar {
  display: block;
}

app-hero {
  height: 100vh;
 }

app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
